# requirements file
# note which revision of python, for example 3.9.6
# in this file, insert all the pip install needs, include revision

# python==3.10.13
pyautogen
chess==1.10.0
matplotlib
numpy
pandas
yfinance
autogen
jupyter
python-dotenv
